<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


<connectionStrings>
 <add name="AzureStorageConn" connectionString="DefaultEndpointsProtocol=https;AccountName=espire;AccountKey=bTPzQw72KcrsSFXeBUnFxyw6/NHtlOcTq73gLIMnVD6UHddR5QhTt8u+xzUEjl8TwGYgtRYgJBXJdoLwhg1Tsg=="/>  
</connectionStrings>

<appSettings>
  <add key="sourceFolder" value="C:\Users\Ansari\Desktop\source"/> <!--it can be anywhere but you have to create the folder yourself-->
<add key="destFolder" value="C:\Users\Ansari\Desktop\destination"/> <!--it can be anywhere but you have to create the folder yourself-->
</appSettings>
  
</configuration>